/* Superhero
 * Bootswatch
 *= require_self
 *= require superhero/loader
 *= require superhero/bootswatch
 *= require superhero/font-awesome
*/

/*@import "superhero/variables";*/

.navbar {
	list-style-type: none;
}

.navbar-header {
	margin-top: 30px;
}

body ul {
	list-style-type: none;
}

.voteRemaining {
	float: left;
	margin-left: 350px;
	margin-top: 25px;	
}

.voteRemaining li {
	font-size: 30px;
}

.voteRemaining span {
	font-size: 45px;
    font-weight: bolder;
}

#votesLeft {
	color:#FFF;
}

.navbar.navbar-inverse.navbar-fixed-top {
	height: 100px;
}

a.navbar-brand {
	font-size: 40px;
	font-weight: bold;
	font-style: oblique;
}

ul.nav.navbar-nav {
	font-size: 25px;
	font-weight: bolder;
	float: right;
	margin-top: 30px;
	margin-right: -150px;
}

.btn.btn-primary.btn-lg.searchButton {
	float: right;
	margin: 0;
	height: 80px;
	font-size: 25px;
}

input#search_query {
	margin: 0;
	height: 80px;
	font-size: 25px;
	text-align: -webkit-center;
}

input#search_query {
	width: 500px;
	align: center;
	padding: 5px; 
}

#searchButton {
	
}

div.jumboSections {
	padding: 350px;
	align: center;
	width: 100%;
	margin-bottom: 0px;
}

div.searchWrap {
	position: absolute;
	left: 34%;
	display: inline-flex;
}

.songRankings {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}

h4.panel.panel-default {
	height: 45px;
	font-size: 35px;
	font-weight: bold;
	padding-top: 3px;
}




/*######### Devise New User Registration*/

form#new_user {
	margin-top: 100px;
}
