    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" style="margin-left: -140px;">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Spotify-ME</a>
        </div>
        <div class="voteRemaining">
          <li >You have <span class='label label-default' id="votesLeft"><%=votes_left%></span> votes left</li>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <%= link_to "Home", root_path%></li>
            <li> <%= render 'devise/menu/registration_items' %> </li>
            <li> <%= render 'devise/menu/login_items' %> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- end navbar -->